* {
    margin-inline-start: 0; padding-inline-start: 0; padding: 0; margin: 0;
    font-family: Orbitron, monospace;
    user-select: none;
}
*:focus{
    outline: none;
}
body {
    background-color: rgb(20,20,20);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    background-color: rgb(36, 36, 36);
    height: 700px;
    width: 500px;
    box-shadow: 0px 0px 50px 20px black;
    border-radius: 20px;
    outline: solid 5px black;
    display: flex;
    flex-direction: column;
}
.main .header {
    background: linear-gradient(to bottom, rgb(20,20,20), rgb(36, 36, 36));
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255, 105, 5, 0.75);

}
.header .brand, .header .model {
    letter-spacing: 3px;
    background: linear-gradient( to bottom,
        #ff8800 0%, 
        #b46000 30%, 
        #ff8800 50%, 
        #b46000 80%, 
        #ff8800 100% );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.5));
}
.header .brand {
    font-style: italic;
}
#display {
    margin: 0px auto;
    width: 450px;
    height: 120px;

    background: linear-gradient(to bottom, rgba(107, 107, 107, 0.541) 0%, rgba(0, 0, 0, 0.651) 50%);
    box-shadow: inset 0px 0px 30px black;
    border: 3px solid rgba(14, 13, 13, 0.1);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 5px 10px 5px;

    font-family: 'VT323', monospace;
    font-size: 80px;
    font-weight: 900;
    color: #fda500;
    text-shadow: 
        0px 0px 5px rgb(253, 165, 0),
        0px 0px 20px hsl(36, 100%, 70%);
    position: relative;
    overflow: hidden;
    line-height: 0.3;
}
#display::after {
    content: " ";
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-image: 
        linear-gradient(rgba(0,0,0,1) 50%, transparent 50%),
        linear-gradient(90deg, rgba(0,0,0,1) 50%, transparent 50%);
    background-size: 2px 2px;
    opacity: 0.6;
}
#buttons {
    height: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.functions {
    height: 10%;
    width: 400px;
    display: flex;
    margin: 20px 0px 20px 0px;
    gap: 12px;
    justify-content: space-between;
}
.functions .key {
    font-size: 20px;
    height: 45px;
    letter-spacing: 2px;
}
.clear {
    width: calc((100% - 20px) / 4);
}
.fn {
    width: 70px;
}
.f1, .f2, .f3 {
    width: 60px;
}
.keys{
    display: flex;
    height: 430px;
    width: 400px;
}
.key {
    box-sizing: border-box;
    display: block;
    border-radius: 8px;

    background-color: rgb(15, 15, 15);
    border: outset 2px rgba(0,0,0,1);
    box-shadow: 
        inset 0px 0px 10px rgb(0, 0, 0),
        0px 0px 15px 3px rgb(0, 0, 0);

    font-size: 28px;
    font-weight: 700;
    color: #ff88008a;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
    font-family: Orbitron;
    cursor: pointer;
}
.key:active, .key.active{
    border-style: inset;
    transform: translate(-1px, -1px);
    box-shadow: 
        inset 0px 0px 10px rgb(0, 0, 0),
        0px 0px 5px 1px rgb(0, 0, 0);
}
.leftBank {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    width: 75%;
    margin-right: 10px;
}
.leftBank .key {
    width: calc((100% - 20px) / 3);
}
.leftBank .zero {
    width: calc(((100% - 20px) / 3) * 2 + 10px);
}
.rightBank {
    display: flex;
    width: 23%;
    flex-direction: column;
    gap: 10px;
}
.rightBank .key {
    width: 100%;
    height: 19%;
}
.rightBank .add, .rightBank .equal {
    height: 40%;
}
#fncEdit {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #999999;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.3);
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
}
#fncEdit.show {
    transform: translateY(0);
}
.fncEdit.header{
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.144), rgb(0, 0, 0)),
        linear-gradient(to top, rgba(0, 0, 0, 0.144), rgb(0, 0, 0));
    outline: solid 5px rgb(0, 0, 0);
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.747);
}
.fncEdit.header .title{
    font-size: 30px;
    font-weight: 900;
    background: linear-gradient( to bottom,
        #ff8800 0%, 
        #b46000 30%, 
        #ff8800 50%, 
        #b46000 80%, 
        #ff8800 100% );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(5px 5px 2px rgb(0, 0, 0));
}
.fncEdit.header > .close{
    width: 30px;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    border-radius: 50%;
    background-color: rgb(20,20,20);
    box-shadow: 1px 4px 2px 3px rgb(0, 0, 0);
    border: outset 1px rgba(131, 131, 131, 0.336);
    background: linear-gradient( to bottom,
        #ff8800 0%, 
        #b46000 30%, 
        #ff8800 50%, 
        #b46000 80%, 
        #ff8800 100% );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
}
.fncEdit.header>.close:active{
    border: inset 1px rgba(131, 131, 131, 0.336);
    translate: 1px 1px;
    box-shadow: 0px 2px 2px 2px rgb(0, 0, 0);
}
.fncEdit .body{
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    align-items: center;
    flex-grow: 1;
}
.fncEdit .information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 90%;
    width: 100%;
    padding-right: 20px;
}
.information p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.expressionExample{
    display: flex;
    gap: 10px;
    align-items: center;
}
.expressionExample #code{
    font-family: monospace;
    background-color: rgb(121, 120, 120);
    padding: 5px 15px;
    font-size: 20px;
}
.fncEdit .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.dropdown::picker-icon{
    margin: 0px;
    padding: 0px 5px 3px 0px;
    content: "☠";
    font-size: 2rem;
    font-weight: 500;
}
.dropdown {
    appearance: base-select;
    background: rgb(20,20,20);
    color: #b46000;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 4px 15px;
    font-size: 14px;
    cursor: pointer;
}
.dropdown:open{
    border-radius: 0px 0px 10px 10px;
}
.selectedcontent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.selectedcontent .option-label{
    margin-left: auto;
    margin-right: auto;
}
.dropdown select:open{
    border-radius: 0px 0px 10px 10px;
}
::picker(select) {
    appearance: base-select;
    padding: 0px;
    border-radius: 10px 10px 0px 0px;
    background: rgb(20, 20, 20);
    color: #b46000;
    border: none;
}
select option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 45px;
    color: #b46000;
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    padding: 0px 15px;
}
select:hover{
    background: repeating-radial-gradient(farthest-corner, #361d00, rgb(20,20,20));
}
select option:hover{
    background: repeating-radial-gradient(farthest-corner, #361d00, rgb(20,20,20));
}
option::checkmark{
    order: 1;
    content: "☠";
    font-size: 2rem;
    padding-bottom: 5px;
    font-weight: 500;
}
.icon{
    width: 30px;
    text-align: center;
    font-weight: 1000;
    font-size: 22px;
    justify-self: center;
    padding-bottom: 1px;
}
.fncEdit .expression{
    box-sizing: border-box;
    width: 400px;
    height: 230px;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 0px;
    background-color: rgb(20, 20, 20);
    color: #b46000;
}
.expression::placeholder{
    color: #b46000;
}
.expression:focus{ outline: none;}
.fncEdit .footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    width: 100%;
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.144), rgb(0, 0, 0)),
        linear-gradient(to top, rgba(0, 0, 0, 0.144), rgb(0, 0, 0));
    box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.747);
    outline: solid 5px rgb(0, 0, 0);

}
.fncEdit .footer .submit {
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 20px;
    background: linear-gradient( to bottom,
        #ff8800 0%, 
        #b46000 30%, 
        #ff8800 50%, 
        #b46000 80%, 
        #ff8800 100% );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 1px 4px 2px 3px rgb(0, 0, 0);
    border: outset 1px rgba(131, 131, 131, 0.336);
    cursor: pointer;
    margin-right: 40px;
}
.fncEdit .footer .submit:active, #alertDismiss:active{
    border: inset 1px rgba(131, 131, 131, 0.336);
    translate: 1px 1px;
    box-shadow: 0px 2px 2px 2px rgb(0, 0, 0);
}
#testExpression{
    margin: auto;
    padding: 7px 15px;
    border-radius: 15px;
    box-shadow: 1px 4px 2px 3px rgb(0, 0, 0);
    border: outset 1px rgba(131, 131, 131, 0.336);
    cursor: pointer;
    position: relative;
    isolation: isolate;
    background: radial-gradient(closest-side, rgb(20,20,20) 80%, rgb(20, 20, 20) 150%);
}
#testExpression.pass{
    background: radial-gradient(closest-side, rgb(20,20,20) 80%, rgb(20, 200, 20) 150%);
}
#testExpression.fail{
    background: radial-gradient(closest-side, rgb(20,20,20) 80%, rgb(200,20,20) 150%);
}
#testExpression span{
    font-size: 20px;
    background: linear-gradient( to bottom,
        #ff8800 0%, 
        #b46000 30%, 
        #ff8800 50%, 
        #b46000 80%, 
        #ff8800 100% );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#testExpression:active{
    border: outset 1px rgba(131, 131, 131, 0.336);
    translate: 1px 1px;
    box-shadow: 0px 2px 2px 2px rgb(0, 0, 0);
}
#alert {
    transform: translateY(-100%);
    transition: transform 0.8s ease-out;
    position: fixed;
    top: 0;
    height: 40px;
    width: 70%;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(to bottom, 
    rgb(20, 20, 20),
    rgb(43, 43, 43),
    rgb(20, 20, 20));
}
#alert.show {
    transform: translateY(0);
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
    outline: solid 3px rgb(0, 0, 0);
}
#alertIcon{
    font-size: 35px;
    font-weight: 1000;
    text-shadow: 3px 3px rgb(0, 0, 0);
    color: #b46000;
}
#alertText{
    color: #b46000;
    font-size: 20px;
    font-weight: 900;
    text-shadow: 3px 3px rgb(0, 0, 0);
}
#alertDismiss{
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
    background: linear-gradient( to bottom,
        #ff8800 0%, 
        #b46000 30%, 
        #ff8800 50%, 
        #b46000 80%, 
        #ff8800 100% );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 1px 4px 2px 3px rgb(0, 0, 0);
    border: outset 1px rgba(131, 131, 131, 0.336);
    cursor: pointer;
}